
section {
  margin-bottom: 50px;
}

head {
/*javascript, not visible,  full of stuff that doesn't get rendered to the page. things about my site that doesn't go on the site*/
}

body {

}

section#bio {
  text-align: center;
}

header {
  text-align: center;
}

header h1 {
  margin-bottom: 20px;
}

main h2 {
  margin-bottom: 20px;
}

main ul,
main ol {
  margin-left: 40px;
}

footer ul#social {
  text-align: right;
}

p {
  margin-bottom: 20px;
}

img {
  width: 200px;
}

h1, h2 {
  font-family: helvetica, arial, sans-serif;
}

div.index {
  /*puts styles in here for index*/
}

/*most of the time I should groupd by functionality for styling.*/
