<div class = "index">
  <div class="jumbotron">
    <h1>Rui's CRM APP</h1>
    <p>You can view all contacts and add new contacts below</p>
    <p>
      <a class="btn btn-primary btn-lg" href="/contacts" role="contacts">View all Contacts</a>
      <a class="btn btn-primary btn-lg" href="/contacts/new" role="Add a Contact">Add a Contact</a>
    </p>
  </div>
</div>
