

<h1> Creating a new contact</h1>

<form class="navbar-form navbar-left" role="search">
  <div class="form-group">

    <input type='text' class="form-control" placeholder='first name' name='first_name'>
    <input type='text' class="form-control" placeholder='last name' name='last_name'>
    <input type='text' class="form-control" placeholder='email' name='email'>
    <input type='text' class="form-control" placeholder='note' name='note'>
  </div>
  <button type="submit" class="btn btn-success">Submit</button>
</form>

<div>
  <br>
  <br>
  <br>
    <a class="btn btn-primary btn-lg" href="/contacts" role="Add a Contact">All Contacts</a>
  </br>
</div>
